<section class="container">
    <article class="about">
        <p>
            Kanjs (combination of Kanji and js) is a simple web app I developed to learn AngularJS. With this app, you can search through the JLPT2-5 kanji by kanji, English keyword, or Japanese keyword. You can also filter based on JLPT level. Another cool thing
            is you have check the checkboxes to hide a reading or kanji in case you want to study it. JLPT 1 was not included because I have yet to find the complete set. Some kanji are missing readings since they do not have any or the data I used failed
            to include the readings.
        </p>

        <a href="#/kanjs">
            <div class="button">
                &#8678; Go back Home
            </div>
        </a>

    </article>
</section>
